$color-primary: #497BD2;
$color-primary-dark: #033387;
$color-primary-light: #E7EEFA;
$color-primary-white: #faf3e7;
$color-dark: #424141;
$color-grey-dark: #777;
$color-white: #fff;
$color-black: #000;